body{
    background-color: red;
}

.h1_class{
    color: blue;
    font-weight; bold;
    font-family: Times New Roman;
}

.name_detail{
    color: green;
}

.add_book{
    color:white;
    text-decoration: none;
}